#screen {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  backface-visibility: hidden;
}

#screen img {
  image-rendering: crisp-edges !important;
  image-rendering: pixelated !important;
}

body {
  background: linear-gradient(to bottom,
      #69532f 0%,
      #a3772e 22%,
      #835019 62%,
      #5e3a11 100%);
  margin: 0;
  overflow: hidden;
  user-select: none;
}